body {
  overflow-x: hidden;
  text-align: center;
  margin: 0px;
}

#illus {
  /* header_illustration */
  position: relative;
  width: 3586px;
  left: calc(50% - 3586px/2 + 9px);
}

#illuscont {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  height: 455px;
  top: -126px;
}

#headertext {
  /* CurieTec. */

  position: absolute;
  width: 633px;
  height: 219px;
  left: calc(50% - 633px/2 - 0.5px);
  top: 101px;

  font-family: Viga;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 194px;

  color: #00DF81;
}

#email {
  position: absolute;
  width: 648px;
  height: 96px;
  left: calc(50% - 648px/2 - 116px);
  top: calc(50% - 96px/2);

  background: linear-gradient(180deg, #E5FEF3 6.25%, rgba(229, 254, 230, 0) 43.02%, rgba(229, 254, 230, 0) 54.69%);
  border: 1px solid #00DF81;
  box-sizing: border-box;
  border-radius: 12px;

  font-family: Viga;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #00DF81;
}

#email::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(98, 248, 185, 0.5);
  opacity: 1;
  /* Firefox */
}

#submit {
  position: absolute;
  width: 215px;
  height: 96px;
  left: calc(50% - 215px/2 + 351.5px);
  top: calc(50% - 96px/2);

  background: linear-gradient(180deg, #00DF81 0%, #A6FCD8 100%);
  border: 1px solid #00DF81;
  box-sizing: border-box;
  border-radius: 12px;
}

#submit:hover {
  background: linear-gradient(180deg, #A6FCD8 100%, #00DF81 0%);
}

#submiticon {
  position: absolute;
  font-size: 64px;
  color: #FFF;
  left: calc(50% - 64px/2 + 352px);
  top: calc(50% - 64px/2);
  pointer-events: none;
}

#bottombar {
  position: absolute;
  width: 100%;
  height: 25vh;
  left: 0;
  bottom: 0px;

  background: rgba(166, 252, 216, 0.5);
}

#bottomtext {
  float: left;
  top: calc(50% - 31px);
  position: relative;
  height: 63px;
  left: 65px;

  font-family: Viga;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  color: #00DF81;
}

#logo {
  float: right;
  top: calc(50% - 7.5vh);
  position: relative;
  width: 15vh;
  height: 15vh;
  right: 20px;
}

@media only screen and (max-width: 950px) {
  #submit {
    width: 90%;
    left: calc(50% - 45%);
    top: calc(50% + 115px - 96px/2);
  }

  #submiticon {
    left: calc(50% - 64px/2);
    top: calc(50% + 115px - 64px/2);
  }

  #email {
    width: 90%;
    left: calc(50% - 45%);
    top: calc(50% - 96px/2);
  }
}

@media only screen and (max-width: 700px) {
  #headertext {
    font-size: 20vw;
  }
  
  #logo {
    top: 5vh;
    position: relative;
    float: unset;
    width: 10vh;
    height: 10vh;
    right: unset;
  }

  #bottomtext {
    top: calc(31px);
    width: 100%;
    height: 63px;
    left: 0;
  
    font-family: Viga;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #00DF81;
  }
}




#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-family: Viga;
  font-style: normal;
  font-weight: normal;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}